/* 全局样式 */
html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
}
.el-card {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15) !important;
}
.el-table {
    margin-top: 16px;
}
.el-pagination {
    margin-top: 16px;
/* 浮动会有问题，底部margin消失*/
    /*float: right;*/
    display: flex;
    justify-content: flex-end;
}

.el-cascader {
    width: 300px;
}
.el-cascader-panel {
    height: 200px;
}

.el-steps {
    margin: 24px 0;
}
.el-step__title {
    font-size: 14px;
}

.ql-editor {
    min-height: 320px;
}

